* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: raleway;
  line-height: 1.7;
  letter-spacing: 0.8px;
}

.underoverskift {
  font-size: 2em;
  text-align: center;
  background-color: #f0f0f0;
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

h1 {
  font-weight: 700;
  /* font-family: Arsenal SC; */
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 30px;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 100;
}

.logo {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

nav {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}

nav a:hover {
  color: #007aff;
}

.checkbox-input {
  display: none;
}

.spacer {
  height: 40px;
  background-color: #f0f0f0;
}

/* Software */

.section-block {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px 50px 150px 50px;
  background-color: #f0f0f0;
}

.section-block img {
  max-width: 35%;
  height: auto;
  border-radius: 10px;
}

.info-block {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p {
  line-height: 1.7;
  letter-spacing: 0.8px;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
}

.primary-btn {
  background-color: green;
  color: #fff;
  font-weight: 700;
}

.primary-btn:hover {
  background-color: rgb(0, 174, 0);
  transition: 0.3s;
  cursor: pointer;
}

.secondary-btn {
  background-color: lightgrey;
  color: #000;
}

.secondary-btn:hover {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.CTA {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Services */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

/* Kontakt */

.section-block form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

input {
  height: 35px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}

textarea {
  height: 250px;
  border: 1px solid #000;
  border-radius: 10px;
  resize: none;
  padding: 10px;
}

label {
  font-weight: 700;
}

/* Footer */

Footer {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Responsive */

@media (max-width: 768px) {
  .section-block {
    flex-direction: column;
    padding: 30px 30px 150px 30px;
  }

  .section-block img {
    max-width: 100%; /* Full width on smaller screens */
  }

  .info-block {
    max-width: 100%;
    width: 100%; /* Full width on smaller screens */
    padding-left: 0; /* No extra padding on smaller screens */
  }

  .section-block form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  nav {
    position: absolute;
    top: 100px;
    background: #000;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  nav a {
    font-size: 22px;
  }

  nav a:nth-child(1) {
    margin-top: 50px;
  }

  .mobile-menu {
    width: 45px;
    height: 30px;
    position: relative;
  }

  label div {
    width: 100%;
    height: 5px;
    background: #fff;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s;
    transform: scale(1);
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 50%;
  }

  label div:nth-child(3) {
    top: 100%;
  }

  input:checked + header nav {
    height: 100vh;
  }

  input:checked + header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  input:checked + header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  input:checked + header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }
}
